{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
    {% for tax,value in taxlist[taxonomy] %}
        {% set active = uri.param(taxonomy) == tax? 'active' : '' %}
        <li>
            <a class="{{ active }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax|capitalize }}</a>
        </li>
    {% endfor %}
{% endif %}
