{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}
{% set categoryList = [] %}

{# CLEAN THE ORIGINAL ARRAY #}
{% for tax, index in taxlist[taxonomy] %}
    {% set categoryList = categoryList|merge([tax|capitalize]) %}
{% endfor %}

{% if categoryList %}
    {% for category in categoryList|sort %}
        <li>
            <a href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ category|lower }}">{{ category|capitalize }}</a>
        </li>
    {% endfor %}
{% endif %}
